In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Kangaroo.csv') # Load a CSV

In [3]:
df.head()

,Unnamed: 0,id,url,type,subtype,bedroomCount,bathroomCount,province,locality,postCode,...,hasOffice,toiletCount,hasSwimmingPool,hasFireplace,hasTerrace,terraceSurface,terraceOrientation,accessibleDisabledPeople,epcScore,price
0,0,20661494.0,https://www.immoweb.be/en/classified/apartment...,APARTMENT,APARTMENT,2.0,1.0,Brussels,Etterbeek,1040,...,NaN,1.0,NaN,NaN,True,7.0,NaN,NaN,C,399000.0
1,1,20647642.0,https://www.immoweb.be/en/classified/house/for...,HOUSE,HOUSE,4.0,2.0,Brussels,Etterbeek,1040,...,True,3.0,NaN,NaN,True,1.0,NaN,NaN,E,895000.0
2,2,20644816.0,https://www.immoweb.be/en/classified/apartment...,APARTMENT,APARTMENT,2.0,1.0,Brussels,Etterbeek,1040,...,NaN,1.0,NaN,NaN,True,2.0,NaN,NaN,F,465000.0
3,3,20659813.0,https://www.immoweb.be/en/classified/apartment...,APARTMENT,APARTMENT,2.0,2.0,Brussels,Bruxelles,1040,...,NaN,2.0,NaN,NaN,True,3.0,NaN,NaN,B,590000.0
4,4,20633249.0,https://www.immoweb.be/en/classified/flat-stud...,APARTMENT,FLAT_STUDIO,1.0,1.0,Brussels,Etterbeek,1040,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,E,289000.0

In [4]:
df.shape

(80368, 53)

In [5]:
df.columns

Index(['Unnamed: 0', 'id', 'url', 'type', 'subtype', 'bedroomCount',
       'bathroomCount', 'province', 'locality', 'postCode', 'habitableSurface',
       'roomCount', 'monthlyCost', 'hasAttic', 'hasBasement',
       'hasDressingRoom', 'diningRoomSurface', 'hasDiningRoom',
       'buildingCondition', 'buildingConstructionYear', 'facedeCount',
       'floorCount', 'streetFacadeWidth', 'hasLift', 'floodZoneType',
       'heatingType', 'hasHeatPump', 'hasPhotovoltaicPanels',
       'hasThermicPanels', 'kitchenSurface', 'kitchenType', 'landSurface',
       'hasLivingRoom', 'livingRoomSurface', 'hasBalcony', 'hasGarden',
       'gardenSurface', 'gardenOrientation', 'parkingCountIndoor',
       'parkingCountOutdoor', 'hasAirConditioning', 'hasArmoredDoor',
       'hasVisiophone', 'hasOffice', 'toiletCount', 'hasSwimmingPool',
       'hasFireplace', 'hasTerrace', 'terraceSurface', 'terraceOrientation',
       'accessibleDisabledPeople', 'epcScore', 'price'],
      dtype='object')

In [6]:
df_columns = df.columns.tolist()
df_columns

['Unnamed: 0',
 'id',
 'url',
 'type',
 'subtype',
 'bedroomCount',
 'bathroomCount',
 'province',
 'locality',
 'postCode',
 'habitableSurface',
 'roomCount',
 'monthlyCost',
 'hasAttic',
 'hasBasement',
 'hasDressingRoom',
 'diningRoomSurface',
 'hasDiningRoom',
 'buildingCondition',
 'buildingConstructionYear',
 'facedeCount',
 'floorCount',
 'streetFacadeWidth',
 'hasLift',
 'floodZoneType',
 'heatingType',
 'hasHeatPump',
 'hasPhotovoltaicPanels',
 'hasThermicPanels',
 'kitchenSurface',
 'kitchenType',
 'landSurface',
 'hasLivingRoom',
 'livingRoomSurface',
 'hasBalcony',
 'hasGarden',
 'gardenSurface',
 'gardenOrientation',
 'parkingCountIndoor',
 'parkingCountOutdoor',
 'hasAirConditioning',
 'hasArmoredDoor',
 'hasVisiophone',
 'hasOffice',
 'toiletCount',
 'hasSwimmingPool',
 'hasFireplace',
 'hasTerrace',
 'terraceSurface',
 'terraceOrientation',
 'accessibleDisabledPeople',
 'epcScore',
 'price']

In [7]:
df.info() # Summary info of the data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80368 entries, 0 to 80367
Data columns (total 53 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                80368 non-null  int64
 1   id                        80368 non-null  float64
 2   url                       80368 non-null  object
 3   type                      80368 non-null  object
 4   subtype                   80368 non-null  object
 5   bedroomCount              73558 non-null  float64
 6   bathroomCount             66672 non-null  float64
 7   province                  80368 non-null  object
 8   locality                  80368 non-null  object
 9   postCode                  80368 non-null  int64
 10  habitableSurface          67783 non-null  float64
 11  roomCount                 21948 non-null  float64
 12  monthlyCost               0 non-null      float64
 13  hasAttic                  12516 non-null  object
 14  hasBasement               29315 non-null  object
 15  hasDressingRoom           2628 non-null   object
 16  diningRoomSurface         6901 non-null   float64
 17  hasDiningRoom             14141 non-null  object
 18  buildingCondition         57992 non-null  object
 19  buildingConstructionYear  49106 non-null  float64
 20  facedeCount               53239 non-null  float64
 21  floorCount                37546 non-null  float64
 22  streetFacadeWidth         15510 non-null  float64
 23  hasLift                   19044 non-null  object
 24  floodZoneType             44466 non-null  object
 25  heatingType               47153 non-null  object
 26  hasHeatPump               7473 non-null   object
 27  hasPhotovoltaicPanels     8048 non-null   object
 28  hasThermicPanels          3112 non-null   object
 29  kitchenSurface            24263 non-null  float64
 30  kitchenType               41916 non-null  object
 31  landSurface               39541 non-null  float64
 32  hasLivingRoom             42876 non-null  object
 33  livingRoomSurface         28950 non-null  float64
 34  hasBalcony                0 non-null      float64
 35  hasGarden                 15958 non-null  object
 36  gardenSurface             15958 non-null  float64
 37  gardenOrientation         5601 non-null   object
 38  parkingCountIndoor        28239 non-null  float64
 39  parkingCountOutdoor       18326 non-null  float64
 40  hasAirConditioning        1124 non-null   object
 41  hasArmoredDoor            3698 non-null   object
 42  hasVisiophone             15991 non-null  object
 43  hasOffice                 10387 non-null  object
 44  toiletCount               55094 non-null  float64
 45  hasSwimmingPool           1816 non-null   object
 46  hasFireplace              3044 non-null   object
 47  hasTerrace                47429 non-null  object
 48  terraceSurface            28599 non-null  float64
 49  terraceOrientation        11262 non-null  object
 50  accessibleDisabledPeople  0 non-null      float64
 51  epcScore                  65391 non-null  object
 52  price                     76370 non-null  float64
dtypes: float64(22), int64(2), object(29)
memory usage: 32.5+ MB

In [8]:
# Check for missing values
df.isnull().sum()

Unnamed: 0                      0
id                              0
url                             0
type                            0
subtype                         0
bedroomCount                 6810
bathroomCount               13696
province                        0
locality                        0
postCode                        0
habitableSurface            12585
roomCount                   58420
monthlyCost                 80368
hasAttic                    67852
hasBasement                 51053
hasDressingRoom             77740
diningRoomSurface           73467
hasDiningRoom               66227
buildingCondition           22376
buildingConstructionYear    31262
facedeCount                 27129
floorCount                  42822
streetFacadeWidth           64858
hasLift                     61324
floodZoneType               35902
heatingType                 33215
hasHeatPump                 72895
hasPhotovoltaicPanels       72320
hasThermicPanels            77256
kitchenSurface              56105
kitchenType                 38452
landSurface                 40827
hasLivingRoom               37492
livingRoomSurface           51418
hasBalcony                  80368
hasGarden                   64410
gardenSurface               64410
gardenOrientation           74767
parkingCountIndoor          52129
parkingCountOutdoor         62042
hasAirConditioning          79244
hasArmoredDoor              76670
hasVisiophone               64377
hasOffice                   69981
toiletCount                 25274
hasSwimmingPool             78552
hasFireplace                77324
hasTerrace                  32939
terraceSurface              51769
terraceOrientation          69106
accessibleDisabledPeople    80368
epcScore                    14977
price                        3998
dtype: int64

### sumary
- Shape: 80,368 x 53
- Some columns are likely unnecessary: url, id?, unnamed, 
- Many columns misses a lot information:
100%: monthlyCost, hasBalcony, accessibleDisabledPeople

## Data cleaning
1. Remove duplicate : No duplicates in data set
2. Remove irrelevant columns: URL, Unnamed:0, 
3. Remove columns missing a lot info

In [ ]:
# df.duplicated().sum() # Check for duplicate rows
df.drop_duplicates(subset=['id'], keep='last', inplace=True)

np.int64(0)

In [ ]:
# 1. Drop rows with NaN in price column
df.dropna(subset=['price'], how='all', inplace=True)
df.shape

(80368, 51)

In [10]:
# 2. Drop irrelevant columns
df_cleaned = df.drop(columns=["Unnamed: 0", "url"])
df_cleaned.shape
df_cleaned.head()

,id,type,subtype,bedroomCount,bathroomCount,province,locality,postCode,habitableSurface,roomCount,...,hasOffice,toiletCount,hasSwimmingPool,hasFireplace,hasTerrace,terraceSurface,terraceOrientation,accessibleDisabledPeople,epcScore,price
0,20661494.0,APARTMENT,APARTMENT,2.0,1.0,Brussels,Etterbeek,1040,100.0,NaN,...,NaN,1.0,NaN,NaN,True,7.0,NaN,NaN,C,399000.0
1,20647642.0,HOUSE,HOUSE,4.0,2.0,Brussels,Etterbeek,1040,270.0,12.0,...,True,3.0,NaN,NaN,True,1.0,NaN,NaN,E,895000.0
2,20644816.0,APARTMENT,APARTMENT,2.0,1.0,Brussels,Etterbeek,1040,87.0,NaN,...,NaN,1.0,NaN,NaN,True,2.0,NaN,NaN,F,465000.0
3,20659813.0,APARTMENT,APARTMENT,2.0,2.0,Brussels,Bruxelles,1040,104.0,NaN,...,NaN,2.0,NaN,NaN,True,3.0,NaN,NaN,B,590000.0
4,20633249.0,APARTMENT,FLAT_STUDIO,1.0,1.0,Brussels,Etterbeek,1040,71.0,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,E,289000.0

In [11]:
#3. Trim Whitespace in Strings

str_cols = df_cleaned.select_dtypes(include='object').columns #Selects columns that are of type string or mixed object
for col in str_cols:
    df_cleaned[col] = df_cleaned[col].apply(lambda x: x.strip() if isinstance(x, str) else x)

df_cleaned.describe(include='all') # Summary statistics of the data

,id,type,subtype,bedroomCount,bathroomCount,province,locality,postCode,habitableSurface,roomCount,...,hasOffice,toiletCount,hasSwimmingPool,hasFireplace,hasTerrace,terraceSurface,terraceOrientation,accessibleDisabledPeople,epcScore,price
count,8.036800e+04,80368,80368,73558.000000,66672.000000,80368,80368,80368.000000,67783.000000,21948.000000,...,10387,55094.00000,1816,3044,47429,28599.000000,11262,0.0,65391,7.637000e+04
unique,NaN,4,26,NaN,NaN,11,5470,NaN,NaN,NaN,...,1,NaN,1,1,1,NaN,8,NaN,20,NaN
top,NaN,HOUSE,HOUSE,NaN,NaN,West Flanders,Antwerpen,NaN,NaN,NaN,...,True,NaN,True,True,True,NaN,SOUTH,NaN,B,NaN
freq,NaN,45234,33977,NaN,NaN,15515,1665,NaN,NaN,NaN,...,10387,NaN,1816,3044,47429,NaN,3143,NaN,13243,NaN
mean,1.952922e+07,NaN,NaN,3.008877,1.427121,NaN,NaN,5266.587199,178.499993,7.110443,...,NaN,1.80624,NaN,NaN,NaN,24.512710,NaN,NaN,NaN,4.476061e+05
std,2.897688e+06,NaN,NaN,1.833185,4.556189,NaN,NaN,3045.698904,820.878936,5.824088,...,NaN,8.41452,NaN,NaN,NaN,43.244643,NaN,NaN,NaN,5.115757e+05
min,1.882546e+06,NaN,NaN,1.000000,1.000000,NaN,NaN,1000.000000,6.000000,1.000000,...,NaN,1.00000,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,3.141000e+03
25%,2.035055e+07,NaN,NaN,2.000000,1.000000,NaN,NaN,2330.000000,93.000000,1.000000,...,NaN,1.00000,NaN,NaN,NaN,8.000000,NaN,NaN,NaN,2.300000e+05
50%,2.052985e+07,NaN,NaN,3.000000,1.000000,NaN,NaN,4830.000000,140.000000,6.000000,...,NaN,2.00000,NaN,NaN,NaN,15.000000,NaN,NaN,NaN,3.299000e+05
75%,2.061494e+07,NaN,NaN,4.000000,2.000000,NaN,NaN,8420.000000,200.000000,11.000000,...,NaN,2.00000,NaN,NaN,NaN,29.000000,NaN,NaN,NaN,4.790000e+05
max,2.066439e+07,NaN,NaN,100.000000,1146.000000,NaN,NaN,9992.000000,185347.000000,68.000000,...,NaN,1958.00000,NaN,NaN,NaN,2921.000000,NaN,NaN,NaN,1.500000e+07

In [ ]:
# check for missing values 
#  Percentage of missing values
missing_percent = df_cleaned.isnull().mean().sort_values(ascending=False) * 100
missing_percent

id                          0.000000
type                        0.000000
subtype                     0.000000
bedroomCount                0.084735
bathroomCount               0.170416
province                    0.000000
locality                    0.000000
postCode                    0.000000
habitableSurface            0.156592
roomCount                   0.726906
monthlyCost                 1.000000
hasAttic                    0.844266
hasBasement                 0.635240
hasDressingRoom             0.967300
diningRoomSurface           0.914132
hasDiningRoom               0.824047
buildingCondition           0.278419
buildingConstructionYear    0.388986
facedeCount                 0.337560
floorCount                  0.532824
streetFacadeWidth           0.807013
hasLift                     0.763040
floodZoneType               0.446720
heatingType                 0.413286
hasHeatPump                 0.907015
hasPhotovoltaicPanels       0.899861
hasThermicPanels            0.961278
kitchenSurface              0.698101
kitchenType                 0.478449
landSurface                 0.508001
hasLivingRoom               0.466504
livingRoomSurface           0.639782
hasBalcony                  1.000000
hasGarden                   0.801438
gardenSurface               0.801438
gardenOrientation           0.930308
parkingCountIndoor          0.648629
parkingCountOutdoor         0.771974
hasAirConditioning          0.986014
hasArmoredDoor              0.953987
hasVisiophone               0.801028
hasOffice                   0.870757
toiletCount                 0.314478
hasSwimmingPool             0.977404
hasFireplace                0.962124
hasTerrace                  0.409852
terraceSurface              0.644149
terraceOrientation          0.859870
accessibleDisabledPeople    1.000000
epcScore                    0.186355
price                       0.049746
dtype: float64

In [ ]:
# 4. Handle Missing Values
# Drop columns with over 70% missing
df_cleaned = df_cleaned.drop(columns=missing_percent[missing_percent > 70].index)

In [ ]:
df_cleaned.head()

In [ ]:
df_cleaned.isnull().mean().sort_values(ascending=False) * 100

In [ ]:
df_cleaned.columns.tolist()

### 2. Data Analysis
- Linear correlation:

In [ ]:
df_cleaned.shape

In [ ]:
# Compute Pearson correlation of every numeric column with price
corr_with_price = df_cleaned.corr(numeric_only=True)['price'].sort_values(ascending=False)

# View top positive and negative correlations
print("Top positive correlations:\n", corr_with_price.head(10))
print("\nTop negative correlations:\n", corr_with_price.tail(10))

In [ ]:
numeric_df = df_cleaned.select_dtypes(include=[np.number])

# 2) Compute the correlation matrix
corr_matrix = numeric_df.corr()

In [ ]:
fig, ax = plt.subplots(figsize=(20,16))
cax = ax.matshow(corr_matrix.values, cmap='coolwarm', vmin=-1, vmax=1)
fig.colorbar(cax, shrink=0.8)

# tick labels
ticks = np.arange(len(corr_matrix.columns))
ax.set_xticks(ticks)
ax.set_yticks(ticks)
ax.set_xticklabels(corr_matrix.columns, rotation=90)
ax.set_yticklabels(corr_matrix.columns)

# manual annotation loop
for (i, j), val in np.ndenumerate(corr_matrix.values):
    ax.text(j, i, f"{val:.2f}", ha='center', va='center', fontsize=7)

plt.title("Fully Annotated Correlation Matrix", pad=20)
plt.tight_layout()
plt.show()

In [ ]:
most_influential = corr_with_price.abs().sort_values(ascending=False).index[1:6]
least_influential = corr_with_price.abs().sort_values(ascending=True).index[:5]

print("Top 5 most influential:", most_influential.tolist())
print("Top 5 least influential:", least_influential.tolist())

In [ ]:
# Quantitative = numeric types
quant_cols = df_cleaned.select_dtypes(include=['number']).columns.tolist()
# Qualitative = object / category types
qual_cols = df_cleaned.select_dtypes(include=['object', 'category']).columns.tolist()

print(f"Quantitative ({len(quant_cols)}): {quant_cols}")
print(f"Qualitative ({len(qual_cols)}): {qual_cols}")

In [ ]:
missing_count = df_cleaned.isnull().sum()
missing_pct   = (missing_count / len(df_cleaned) * 100).round(2)

missing_summary = pd.DataFrame({
    'missing_count': missing_count,
    'missing_pct'  : missing_pct
}).sort_values('missing_pct', ascending=False)

print(missing_summary.head(10))  # top 10 most-missing

In [ ]:
#Histogram of price
plt.hist(df_cleaned['price'], bins=50)
plt.title("Price Distribution")
plt.xlabel("Price")
plt.ylabel("Count")
plt.show()

In [ ]:
# Scatter price vs. habitableSurface
plt.scatter(df_cleaned['habitableSurface'], df_cleaned['price'], alpha=0.3)
plt.title("Price vs. Habitable Surface")
plt.xlabel("Surface (m²)")
plt.ylabel("Price")
plt.show()

In [ ]:
#Boxplot to spot outliers in price by province
sns.boxplot(x='province', y='price', data=df_cleaned)
plt.xticks(rotation=45)
plt.title("Price by Province")
plt.show()

### Non-linear correlation
- Spearman Rank Correlation

In [ ]:
df_cleaned.corr(method='spearman')['price'].sort_values(ascending=False)

In [ ]:
spearman_corr = numeric_df.corr(method='spearman')
spearman_price_corr = spearman_corr['price'].drop('price').sort_values(ascending=False)

# Visualize
plt.figure(figsize=(10, 6))
sns.barplot(x=spearman_price_corr.values, y=spearman_price_corr.index, palette='viridis')
plt.title("Spearman Correlation with Price")
plt.xlabel("Spearman correlation coefficient")
plt.tight_layout()
plt.show()

In [ ]:
#Scatterplots for Visual Inspection
# For a few features (pick ones with low Pearson but possible importance)
features_to_check = ['buildingConstructionYear', 'terraceSurface', 'landSurface']

for feature in features_to_check:
    plt.figure(figsize=(6, 4))
    sns.scatterplot(x=numeric_df[feature], y=numeric_df['price'])
    plt.title(f"Scatterplot: {feature} vs Price")
    plt.xlabel(feature)
    plt.ylabel('Price')
    plt.tight_layout()
    plt.show()

In [ ]:
df_cleaned['bedroomCount'].value_counts()
#df.iloc[[df['bedroomCount'].idxmax()]]

In [ ]:
df_cleaned['bathroomCount'].value_counts()

In [ ]:
df_cleaned.iloc[[df_cleaned['bathroomCount'].idxmax()]]